Calendar Agent Workflow.json
{
  "name": "Calendar Agent Workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=# Overview\nYou are a calendar assistant responsible for managing events, including creating, retrieving, updating, and deleting entries in the user's calendar.\n\n## Calendar Management Actions\n- **\"Get Events\"** - Retrieve upcoming events when requested.\n- **\"Delete Event\"** - Before deleting an event, first use \"Get Events\" to find its ID.\n- **\"Update Event\"** - Before modifying an event, first use \"Get Events\" to locate its ID.\n- **\"Create Event\"** - Use this for personal or solo events.\n- **\"Create Event with Attendee\"** - Use this when scheduling an event that includes other participants.\n\n## Handling Date/Time Information\nIf the user provides:\n- **Specific start/end times**: Use them directly\n- **Only a date**: Default to 10:00 AM - 11:00 AM on that date\n- **A date range**: Choose the earliest date in the range at 10:00 AM - 11:00 AM\n- **Relative time** (e.g., \"in 2 days\"): Calculate from current date/time\n- **No time specified**: Default to 10:00 AM - 11:00 AM tomorrow\n\nAlways convert to proper datetime format (YYYY-MM-DD HH:MM or ISO 8601).\n\n## Final Notes\n- **CRITICAL: All event titles and descriptions MUST be written in Spanish**\n- Current date and time: **{{ $now }}**"
        }
      },
      "name": "Calendar AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        416,
        0
      ],
      "id": "81df02db-e108-4b20-b48d-c9de1823a652",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string",
              "id": "9fdd3dfd-b6c2-44a0-9bca-db6bc789e8c5"
            }
          ]
        },
        "options": {}
      },
      "name": "Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        912,
        80
      ],
      "id": "73703d84-85c6-4f0c-b476-265f4dd1cab1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "response",
              "value": "Unable to complete calendar operation. Please try again.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Try Again",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        912,
        256
      ],
      "id": "be3b50f4-2038-44dd-a286-78158bfde087"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout-17b-16e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        0,
        304
      ],
      "id": "4059a1a9-b3e0-4772-888a-be48c91777fe",
      "name": "Groq Chat Model",
      "notesInFlow": true,
      "credentials": {
        "groqApi": {
          "id": "5tyDiZWdDg6HYpIe",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "773d9735-2601-490d-8018-8c1137e1ac1f",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "c_1124d949e52125cc5f5a6751bf8ccaf7aa6618b310600fc8d7c6a76782f4af74@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "GPS"
        },
        "start": "={{ $fromAI(\"eventStart\") }}",
        "end": "={{ $fromAI(\"eventEnd\") }}",
        "additionalFields": {
          "attendees": [],
          "summary": "={{ $fromAI(\"eventTitle\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        160,
        368
      ],
      "id": "b306161b-fc0f-4283-9de1-05ddbcdfea1c",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "bPIMV5IrvInqj9cL",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "c_1124d949e52125cc5f5a6751bf8ccaf7aa6618b310600fc8d7c6a76782f4af74@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "GPS"
        },
        "eventId": "={{ $fromAI(\"eventID\") }}",
        "updateFields": {
          "end": "={{ $fromAI(\"endTime\") }}",
          "start": "={{ $fromAI(\"startTime\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        640,
        368
      ],
      "id": "38c6756c-8b5c-4eff-a245-91625ca3414e",
      "name": "Update an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "bPIMV5IrvInqj9cL",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "c_1124d949e52125cc5f5a6751bf8ccaf7aa6618b310600fc8d7c6a76782f4af74@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "GPS"
        },
        "eventId": "={{ $fromAI(\"eventID\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        320,
        368
      ],
      "id": "a53412fe-ffc7-4d8e-915e-6325f6b94192",
      "name": "Delete an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "bPIMV5IrvInqj9cL",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "c_1124d949e52125cc5f5a6751bf8ccaf7aa6618b310600fc8d7c6a76782f4af74@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "GPS"
        },
        "timeMin": "={{ $fromAI(\"dayBefore\", \"the day before the date the user requested\") }}",
        "timeMax": "={{ $fromAI(\"dayAfter\", \"the day after the date the user requested\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        480,
        368
      ],
      "id": "d9566eb3-540e-4419-a1ee-e1a912d1b225",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "bPIMV5IrvInqj9cL",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "c_1124d949e52125cc5f5a6751bf8ccaf7aa6618b310600fc8d7c6a76782f4af74@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "GPS"
        },
        "start": "={{ $fromAI(\"eventStart\") }}",
        "end": "={{ $fromAI(\"eventEnd\") }}",
        "additionalFields": {
          "attendees": [
            "={{ $fromAI(\"eventAttendeeEmail\") }}"
          ],
          "summary": "={{ $fromAI(\"eventTitle\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        784,
        352
      ],
      "id": "951d81c2-4103-461e-bfb3-774e5bcd69cb",
      "name": "Create an event with attendees in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "bPIMV5IrvInqj9cL",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "Schedule a follow-up meeting with Alex Safari and the project manager to discuss overdue tasks, especially the 'Develop wireframes and prototypes', 'Gather feedback from customers', and 'Test the new onboarding process'. Include links to the Notion tasks."
        }
      }
    ]
  },
  "connections": {
    "Calendar AI Agent": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Calendar AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Calendar AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Calendar AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Calendar AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Calendar AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Calendar AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create an event with attendees in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Calendar AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2d42f6fe-5258-47b2-bb42-cc50ffc4fe55",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "501a356f25b5e21f888ff70856156a670ee5433e1793058041627d0534f68f1e"
  },
  "id": "axUvu1K2swo3ZsuZ",
  "tags": []
}