Calendar Agent Workflow.json
{
  "name": "Calendar Agent Workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=# Overview\nYou are a calendar assistant responsible for managing events, including creating, retrieving, updating, and deleting entries in the user's calendar.\n\n## Calendar Management Actions\n- **\"Get Events\"** - Retrieve upcoming events when requested.\n- **\"Delete Event\"** - Before deleting an event, first use \"Get Events\" to find its ID.\n- **\"Update Event\"** - Before modifying an event, first use \"Get Events\" to locate its ID.\n- **\"Create Event\"** - Use this for personal or solo events.\n**\"Create Event with Attendee\"** - Use this when scheduling an event that includes other participants.\n\n## Final Notes\n- Current date and time: **{{ $now }}**"
        }
      },
      "name": "Calendar AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -464,
        208
      ],
      "id": "33397847-4704-4761-8112-c3557680f812",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string",
              "id": "9fdd3dfd-b6c2-44a0-9bca-db6bc789e8c5"
            }
          ]
        },
        "options": {}
      },
      "name": "Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        32,
        288
      ],
      "id": "f4e42e9b-f258-4dc6-aa2f-836a0e2c95e2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "response",
              "value": "Unable to complete calendar operation. Please try again.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Try Again",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        32,
        464
      ],
      "id": "8f6564e1-b4da-49bd-9019-92cb0dac9dae"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout-17b-16e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -880,
        512
      ],
      "id": "f0e26057-94c4-4040-8fcd-a7b08e869a24",
      "name": "Groq Chat Model",
      "notesInFlow": true,
      "credentials": {
        "groqApi": {
          "id": "Rc9miVWdVv9wh3AJ",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -880,
        208
      ],
      "id": "75df37b3-5f25-403a-aca9-27ce1a2d73dd",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "c_1124d949e52125cc5f5a6751bf8ccaf7aa6618b310600fc8d7c6a76782f4af74@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "GPS"
        },
        "start": "={{ $fromAI(\"eventStart\") }}",
        "end": "={{ $fromAI(\"eventEnd\") }}",
        "additionalFields": {
          "attendees": [],
          "summary": "={{ $fromAI(\"eventTitle\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -720,
        576
      ],
      "id": "e38b4e12-f8ff-460a-914f-82fedd286fc8",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "5g6PxbvoLXQYWU4y",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "c_1124d949e52125cc5f5a6751bf8ccaf7aa6618b310600fc8d7c6a76782f4af74@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "GPS"
        },
        "eventId": "={{ $fromAI(\"eventID\") }}",
        "updateFields": {
          "end": "={{ $fromAI(\"endTime\") }}",
          "start": "={{ $fromAI(\"startTime\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -240,
        576
      ],
      "id": "de23ad8d-c356-4b7d-b701-fb257b4cd0f5",
      "name": "Update an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "5g6PxbvoLXQYWU4y",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "c_1124d949e52125cc5f5a6751bf8ccaf7aa6618b310600fc8d7c6a76782f4af74@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "GPS"
        },
        "eventId": "={{ $fromAI(\"eventID\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -560,
        576
      ],
      "id": "bd502cab-9817-4c0b-b6ff-7e8c8cfd382a",
      "name": "Delete an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "5g6PxbvoLXQYWU4y",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "c_1124d949e52125cc5f5a6751bf8ccaf7aa6618b310600fc8d7c6a76782f4af74@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "GPS"
        },
        "timeMin": "={{ $fromAI(\"dayBefore\", \"the day before the date the user requested\") }}",
        "timeMax": "={{ $fromAI(\"dayAfter\", \"the day after the date the user requested\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -400,
        576
      ],
      "id": "8ae612e3-b5f9-495b-93be-3645b2fd0780",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "5g6PxbvoLXQYWU4y",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "c_1124d949e52125cc5f5a6751bf8ccaf7aa6618b310600fc8d7c6a76782f4af74@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "GPS"
        },
        "start": "={{ $fromAI(\"eventStart\") }}",
        "end": "={{ $fromAI(\"eventEnd\") }}",
        "additionalFields": {
          "attendees": [
            "={{ $fromAI(\"eventAttendeeEmail\") }}"
          ],
          "summary": "={{ $fromAI(\"eventTitle\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -80,
        592
      ],
      "id": "6a202481-7d43-4967-9dec-dfe6a0319813",
      "name": "Create an event in Google Calendar1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "5g6PxbvoLXQYWU4y",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "Schedule a follow-up meeting with Alex Safari and the project manager to discuss overdue tasks, especially the 'Develop wireframes and prototypes', 'Gather feedback from customers', and 'Test the new onboarding process'. Include links to the Notion tasks."
        }
      }
    ]
  },
  "connections": {
    "Calendar AI Agent": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Calendar AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Calendar AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Calendar AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Calendar AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Calendar AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Calendar AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ff379c70-c8cc-45b8-9607-471994f66909",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4398f85953f7004d3f48e3381aa4765ed35c739d31879084f05f2050163adf2f"
  },
  "id": "TmOP1t9AnW2hWGSx",
  "tags": []
}