Email Agent Workflow.json
{
  "name": "Email Agent Workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=# Overview\nYou are an email management assistant responsible for handling emails efficiently.\n\n## Email Management Actions\n- **Get Emails** - Retrieve emails when requested.\n- **Get Labels** - Fetch available email labels.\n- **Send Email** - Use this to send emails.\n- **Create Draft** - Generate a draft if the user requests one.\n- **Email Reply** - Respond to an email. First, use Get Emails to obtain the message ID.\n- **Mark Unread** - Mark an email as unread. First, use Get Emails to retrieve the message ID.\n- **Label Email** - Assign a label to an email. First, use Get Emails to get the message ID, then use Get Labels to obtain the label ID.\n\n## Notion Link Format\n- **IMPORTANT for all emails: Enlace del proyecto: https://www.notion.so/Agile-project-management-2a0293dfb70b806b99deca63a92c5ae0**\n\n## Final Notes\n- All emails must be formatted professionally in **HTML** and signed off as **Rutbel.**\n- **CRITICAL: All email content (subject and body) MUST be written in Spanish**\n- Current date and time: **{{ $now }}**\"",
          "maxIterations": 10
        }
      },
      "name": "Email AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        128,
        -16
      ],
      "id": "549d0338-b3ac-4559-996c-7a37fe9da0e2",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string",
              "id": "002ee55a-97dc-4c9d-a91c-5a081be29143"
            }
          ]
        },
        "options": {}
      },
      "name": "Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        960,
        -32
      ],
      "id": "832260bb-7e66-4206-85db-6bc79f498c31"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "response",
              "value": "Unable to perform task. Please try again.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Try Again",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        992,
        208
      ],
      "id": "d7652a33-60d2-49ea-a5d4-7a04aaa2ea97"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout-17b-16e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -352,
        256
      ],
      "id": "2fd29ad5-77f9-434f-b0ce-436e8be985d2",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "5tyDiZWdDg6HYpIe",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -384,
        -96
      ],
      "id": "472d3e6f-558f-4151-8e45-9943ca81bb0d",
      "name": "When Executed by Another Workflow",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "sendTo": "={{ $fromAI(\"emailAddress\") }}",
        "subject": "={{ $fromAI(\"subject\") }}",
        "message": "={{ $fromAI(\"emailBody\") }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -240,
        512
      ],
      "id": "dbb51e00-279f-4deb-84a9-5f58a54b983f",
      "name": "Send a message in Gmail",
      "webhookId": "ab1ca381-c7f8-4ca7-805b-47adc5914609",
      "credentials": {
        "gmailOAuth2": {
          "id": "W2dHs5ykgLHfusa0",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $fromAI(\"ID\", \"the message ID\") }}",
        "message": "={{ $fromAI(\"emailBody\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -32,
        560
      ],
      "id": "64d03805-9a01-494f-b4ba-fd8454c2c430",
      "name": "Reply to a message in Gmail",
      "webhookId": "ab1ca381-c7f8-4ca7-805b-47adc5914609",
      "credentials": {
        "gmailOAuth2": {
          "id": "W2dHs5ykgLHfusa0",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{$fromAI(\"ID\", \"the ID of message\")}}",
        "labelIds": "={{$fromAI(\"labelID\")}}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        144,
        560
      ],
      "id": "d62410be-7b09-4a5a-87f9-23ae0ad51935",
      "name": "Add label to message in Gmail",
      "webhookId": "a9834420-5eb4-4ef3-9d3a-edb06fc8cba0",
      "credentials": {
        "gmailOAuth2": {
          "id": "W2dHs5ykgLHfusa0",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $fromAI(\"subject\") }}",
        "emailType": "html",
        "message": "={{ $fromAI(\"emailBody\") }}",
        "options": {
          "sendTo": "={{ $fromAI(\"emailAddress\") }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        336,
        560
      ],
      "id": "ffce22ba-c636-418d-8122-41a82d337b6b",
      "name": "Create a draft in Gmail",
      "webhookId": "a9834420-5eb4-4ef3-9d3a-edb06fc8cba0",
      "credentials": {
        "gmailOAuth2": {
          "id": "W2dHs5ykgLHfusa0",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": "={{ $fromAI(\"limit\", \"how many the user wants\") }}",
        "simple": false,
        "filters": {
          "sender": "={{ $fromAI(\"sender\", \"who the emails are from\") }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        528,
        560
      ],
      "id": "a9e24026-94f6-457a-9745-86bec964b802",
      "name": "Get many messages in Gmail",
      "webhookId": "a9834420-5eb4-4ef3-9d3a-edb06fc8cba0",
      "credentials": {
        "gmailOAuth2": {
          "id": "W2dHs5ykgLHfusa0",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "label",
        "returnAll": true
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        720,
        560
      ],
      "id": "2a101ae4-bd25-4b9b-953f-92f12ce7f252",
      "name": "Get many labels in Gmail",
      "webhookId": "a9834420-5eb4-4ef3-9d3a-edb06fc8cba0",
      "credentials": {
        "gmailOAuth2": {
          "id": "W2dHs5ykgLHfusa0",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsUnread",
        "messageId": "={{ $fromAI(\"messageID\") }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        912,
        560
      ],
      "id": "7c82be40-1292-46e0-a3e6-a63467a867c5",
      "name": "Mark a message as unread in Gmail",
      "webhookId": "a9834420-5eb4-4ef3-9d3a-edb06fc8cba0",
      "credentials": {
        "gmailOAuth2": {
          "id": "W2dHs5ykgLHfusa0",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "Send an email to team members for task updates. \n \n Task: Design and develop an interface\n Status: Not Started\n Due Date: 2023-03-23 (Approaching)\n Recipients: ctc3486@gmail.com\n \n Subject: Task Update: Design and develop an interface\n \n Key Details:\n- Task Name: Design and develop an interface\n- Current Status: Not Started\n- Deadline: 2023-03-23 (Approaching)\n- Actions Required: Begin design and development immediately.\n- Link: [Design and develop an interface](https://www.notion.so/Design-and-develop-an-interface-1ac89bce933a81a2a43ac4bca5ef86a7)"
        }
      }
    ]
  },
  "connections": {
    "Email AI Agent": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Email AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Email AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Email AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Email AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Email AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create a draft in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Email AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Email AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many labels in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Email AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mark a message as unread in Gmail": {
      "ai_tool": [
        [
          {
            "node": "Email AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cd18ebf5-ff18-411f-b13d-5cbcb1d64d68",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "501a356f25b5e21f888ff70856156a670ee5433e1793058041627d0534f68f1e"
  },
  "id": "Vi9MFzJxBDJIHqjR",
  "tags": []
}