Notion Agent Workflow.json
{
  "name": "Notion Agent Workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=# Overview\nYou are a Notion-integrated AI agent responsible for managing and retrieving database information within Notion. You follow a strict execution order when interacting with Notion's API, ensuring database dependencies are met before performing actions.\n\n## Execution Rules\n1. **Get Many Databases First**: Before using any of the following tools, the agent must first call `Get Many Databases`:\n- `Get a Database`\n- `Create Database Page`\n- `Get Many Database Pages`\n- `Update Database Page`\n2. **Get Many Database Pages Before Updating**: Before calling \"`Update Database Page`, the agent must first use `Get Many Database Pages`.\n\n## Instructions\n1. **Retrieve User Data**: Use \"Get Users to fetch user details.\n2. **Search for a Page**: Use Search Page be found. if a Notion page needs to\n3. **Retrieve Database Information**:\n- Always start with `Get Many Databases` before retrieving or modifying a database.\nUse `Get a Database` only after confirming the database exists.\nUse `Get a Database` only after confirming the database exists.\n4. **Manage Database Pages**:\nBefore creating or updating a page, first retrieve all database pages using `Get Many Database Pages`\".\n- Use `Create Database Page` only after confirming the database structure.\n- Use `Update Database Page` only after retrieving existing pages with `Get Many Database Pages`.\n5. **Store Contextual Memory**: Maintain conversation flow using `Window Buffer Memory`.\n6. **Leverage OpenAI for Processing**: Use OpenAI Chat Model to interpret queries and select the correct Notion tool.\n\n## Tools\n- **OpenAI Chat Model**: Processes natural language queries.\n- **Window Buffer Memory**: Stores and retrieves context.\n- **Notion API Integrations**:\n    - `Get Users`\n    - `Search Page`\n    - `Get Many Databases` (always called first)\n    - `Get a Database` (requires `Get Many Databases` first)\n    - `Get Many Database Pages` (requires `Get Many Databases` first)\n    - `Create Database Page` (requires `Get Many Databases` first)\n    - `Update Database Page` (requires `Get Many Databases` first, then `Get Many Database Pages`)",
          "passthroughBinaryImages": false
        }
      },
      "name": "Notion AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -464,
        80
      ],
      "id": "074b6d7e-ff83-4f37-b96d-af6a799bf75d",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Notion AI Agent') }}"
      },
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        -656,
        288
      ],
      "id": "cba7c91e-9e43-4b5f-b6fa-b3cd70d70dea"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string",
              "id": "7bfd5e7c-8d1a-4836-afb7-32c38ee3b941"
            }
          ]
        },
        "options": {}
      },
      "name": "Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        0,
        0
      ],
      "id": "c56f95a3-cbb5-4c35-8270-802da36c9dcc"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout-17b-16e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -864,
        320
      ],
      "id": "63710e3b-8815-4f77-8fc1-1891ebaddb04",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "5tyDiZWdDg6HYpIe",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -784,
        80
      ],
      "id": "83b99f11-582f-492d-868d-a5809f3677ca",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "resource": "user",
        "operation": "getAll",
        "returnAll": true
      },
      "type": "n8n-nodes-base.notionTool",
      "typeVersion": 2.2,
      "position": [
        -736,
        528
      ],
      "id": "d2aba8b0-4e9a-4db6-a8a9-729f2c4dd78c",
      "name": "Get many users in Notion",
      "credentials": {
        "notionApi": {
          "id": "x2HPZ1x0vTuUNh4j",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search_Text', ``, 'string') }}",
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.notionTool",
      "typeVersion": 2.2,
      "position": [
        -576,
        512
      ],
      "id": "09a144d5-dd20-4afe-a58e-3ea93a75a410",
      "name": "Search a page in Notion",
      "credentials": {
        "notionApi": {
          "id": "x2HPZ1x0vTuUNh4j",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Database_Page', ``, 'string') }}",
          "__regex": "^([0-9a-f]{8}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{12})"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notionTool",
      "typeVersion": 2.2,
      "position": [
        -448,
        448
      ],
      "id": "f0a58244-19eb-46c1-8334-d19611bdce23",
      "name": "Update a database page in Notion",
      "credentials": {
        "notionApi": {
          "id": "x2HPZ1x0vTuUNh4j",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Database', ``, 'string') }}",
          "__regex": "^([0-9a-f]{8}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{12})"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notionTool",
      "typeVersion": 2.2,
      "position": [
        -288,
        448
      ],
      "id": "72f01542-232e-48d8-adbd-0da598c62991",
      "name": "Get many database pages in Notion",
      "credentials": {
        "notionApi": {
          "id": "x2HPZ1x0vTuUNh4j",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Database', ``, 'string') }}",
          "__regex": "^([0-9a-f]{8}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{12})"
        },
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.notionTool",
      "typeVersion": 2.2,
      "position": [
        -112,
        464
      ],
      "id": "94162d6a-d606-4b25-9292-1e6a20d7c608",
      "name": "Create a database page in Notion",
      "credentials": {
        "notionApi": {
          "id": "x2HPZ1x0vTuUNh4j",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "database",
        "databaseId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Database', ``, 'string') }}",
          "__regex": "^([0-9a-f]{8}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{4}-?[0-9a-f]{12})"
        }
      },
      "type": "n8n-nodes-base.notionTool",
      "typeVersion": 2.2,
      "position": [
        272,
        448
      ],
      "id": "b0016277-0290-4c10-81f3-80fb6ee4240c",
      "name": "Get a database in Notion",
      "credentials": {
        "notionApi": {
          "id": "x2HPZ1x0vTuUNh4j",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "getAll"
      },
      "type": "n8n-nodes-base.notionTool",
      "typeVersion": 2.2,
      "position": [
        80,
        480
      ],
      "id": "518dd1ea-77bc-48a8-87d4-6cad05610f55",
      "name": "Get many databases in Notion",
      "credentials": {
        "notionApi": {
          "id": "x2HPZ1x0vTuUNh4j",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "response",
              "value": "Unable to retrieve data from Notion. Please try again.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        16,
        160
      ],
      "id": "2f214bd8-a79e-44fa-8e58-7de05b153ba5"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "Search all databases for tasks with past due dates or due within the next 7 days. For each task, the following is displayed: title with Notion link, current status, due date, and the email address of the assigned team member. Sort by due date in ascending order."
        }
      }
    ]
  },
  "connections": {
    "Notion AI Agent": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Notion AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Notion AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Notion AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many users in Notion": {
      "ai_tool": [
        [
          {
            "node": "Notion AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search a page in Notion": {
      "ai_tool": [
        [
          {
            "node": "Notion AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update a database page in Notion": {
      "ai_tool": [
        [
          {
            "node": "Notion AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many database pages in Notion": {
      "ai_tool": [
        [
          {
            "node": "Notion AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create a database page in Notion": {
      "ai_tool": [
        [
          {
            "node": "Notion AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a database in Notion": {
      "ai_tool": [
        [
          {
            "node": "Notion AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many databases in Notion": {
      "ai_tool": [
        [
          {
            "node": "Notion AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0b744a84-2491-4391-834e-9b43ef0b6091",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "501a356f25b5e21f888ff70856156a670ee5433e1793058041627d0534f68f1e"
  },
  "id": "eyvcpIxoxds36Qd1",
  "tags": []
}